@import '@/components/variable.scss';
.item-container {
  width: calc(100% - 10px);
  margin: 5px;
  .item {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .title-container {
      .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
}
@media screen and (min-width: map-get($media, 'pad')) and (max-width: map-get($media, 'desktop')) {
  .title-container {
    margin-left: -10px;
    .name {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: map-get($media, 'desktop')) {
  .rightbar {
  }
}
