@import '@/components/variable.scss';
.inner {
  .inner-border {
    // margin: $inner-border-margin;
    padding: $inner-border-padding;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    // border-radius: 5px;
    height: calc(100vh - #{$topbar-height} - 20px);
    overflow-y: auto;
    // min-height: calc(100% - #{$topbar-height} - 10px);
  }
}
@media screen and (max-width: map-get($media, 'phone')) {
  .inner {
    .inner-border {
      background-color: salmon;
    }
    height: 100%;
    // width: $content-width-phone;
  }
}
@media screen and (min-width: map-get($media, 'phone')) and (max-width: map-get($media, 'pad')) {
  .inner {
    .inner-border {
      background-color: saddlebrown;
    }
    height: 100%;
    // width: $content-width-pad;
  }
}
@media screen and (min-width: map-get($media, 'pad')) and (max-width: map-get($media, 'desktop')) {
  .inner {
    .inner-border {
      background-color: firebrick;
    }
    //   height: calc(100% - #{$topbar-height});
    width: $content-width-desktop;
    // margin-left: $leftbar-width;
    height: 100%;
  }
}
@media screen and (min-width: map-get($media, 'desktop')) {
  .inner {
    .inner-border {
      background-color: salmon;
    }
    width: $content-width-desktop;
    //   height: calc(100% - #{$topbar-height});
    height: 100%;
  }
}
