@import '@/components/variable.scss';
.inner {
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media screen and (max-width: map-get($media, 'phone')) {
  .inner {
    background-color: salmon;
    height: 100%;
    // width: $content-width-phone;
  }
}
@media screen and (min-width: map-get($media, 'phone')) and (max-width: map-get($media, 'pad')) {
  .inner {
    background-color: saddlebrown;
    height: 100%;
    // width: $content-width-pad;
  }
}
@media screen and (min-width: map-get($media, 'pad')) and (max-width: map-get($media, 'desktop')) {
  .inner {
    background-color: firebrick;
    //   height: calc(100% - #{$topbar-height});
    width: $content-width-desktop;
    // margin-left: $leftbar-width;
    height: 100%;
  }
}
@media screen and (min-width: map-get($media, 'desktop')) {
  .inner {
    background-color: salmon;
    width: $content-width-desktop;
    //   height: calc(100% - #{$topbar-height});
    height: 100%;
  }
}
