$mask-z-index: 999;
$topbar-height: 3rem;
$main-max-width: 1400px;
$media: (
  'phone': 768px,
  'pad': 1100px,
  'desktop': 1400px
);

$leftbar-width-phone: 70%;
$leftbar-width-pad: 28%;
$leftbar-width-desktop: 18%;

$content-width-phone: 100%;
$content-width-pad: 100%;
$content-width-desktop: 80%;

$rightbar-width-phone: 100%;
$rightbar-width-pad: 100%;
$rightbar-width-desktop: 20%;

$switch-time: 0.4s;

$inner-border-margin: 10px;
$inner-border-padding: 10px;

$primary-color: #1890ff;

$footer-height: 30px;
