.shuoshuo-card {
  //   height: 180px;
  height: 18vh;
  border: 1px solid black;
  display: flex;
  .time {
    display: flex;
    margin: 0 10px;
    width: 11%;
    .date {
      font-weight: 600;
      font-size: 34px;
    }
    .month {
      font-size: 16px;
      line-height: 66px;
    }
  }
  .image {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .content-container {
    width: 60%;
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content {
      font-size: 18px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
    .media-size {
    }
  }
}
