@import '@/components/variable.scss';
.container {
  width: calc(100% + 20px);
  height: calc(100vh - #{$topbar-height} - 2px);
  background-color: rgb(242, 242, 242);
  position: relative;
  margin: -10px;
  .message-area {
    overflow-y: scroll;
    position: absolute;
    height: 75%;
    width: 100%;
    overflow-anchor: auto;
  }
  .utils {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 20%;
    display: flex;
    justify-content: right;
    background-color: #fff;
  }
  .input {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #fff;
    bottom: 5%;
  }
  .submit {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    .online-count {
      margin-left: 10px;
      color: rgb(177, 177, 177);
      font-size: 12px;
    }
  }
}
.message-area::-webkit-scrollbar {
    // width: 0px !important;
}
