@import '@/components/variable.scss';
.title-container {
  display: flex;
  justify-content: space-between;
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: break-spaces;
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  .content {
    // width: 50%;
  }
}
