@tailwind base;
@tailwind components;
@tailwind utilities;
blockquote {
  color: #aaa;
  font-style: italic;
  border-left: 2px solid #aaa;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
}
code {
  background-color: #eee;
  padding: 3px;
}
html {
  height: 100vh;
  body {
    margin: 0;
    height: 100vh;
    #root {
      height: 100vh;
    }
  }
}
